# Maven target folder
/target/

# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# VSCode
.vscode/

# Logs & temp files
*.log
*.tmp
*.swp
*.bak

# OS
.DS_Store
Thumbs.db

# Build artifacts
*.jar
*.war
*.ear
